* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 540px;
  height: 960px;
  background: #ffffff;
  border: 1px solid #aacdff;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
  display: flex;
}

.wrapper {
  padding: 60px 80px 53px 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width: 380px;
  height: 47px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  color: #0068ff;
}

.infoText {
  width: 380px;
  height: 60px;
}

.error {
  font-size: 1px;
  font-weight: 700;
  height: 5px;
  color: red;
}

.boxText {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}

.phone {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#p1 {
  width: 100px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}
#p2 {
  width: 100px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}
#p3 {
  width: 100px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0068ff;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0068ff;
}

#target {
  padding-right: 21px;
}

#timer {
  padding-right: 21px;
}

.authButton {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.timerButton {
  width: 120px;
  height: 40px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 7px;
}

.area {
  width: 100%;
}

select {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}

.gender {
  position: relative;
  text-align: center;
}
.gender input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.gender input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 90px;
}
.gender input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #f6f6f6;
  border: 1px solid #d2d2d2;
  border-radius: 100%;
}
.gender input[type="radio"]:checked + label:before {
  background: #f6f6f6;
  border-color: #d2d2d2;
}
.gender input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 13px;
  height: 13px;
  background: #0068ff;
  border-radius: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
}

.button {
  width: 100%;
}

#buttonText {
  width: 380px;
  height: 75px;
  border-radius: 10px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #0068ff;
}
